@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

html body {
  background-color: #191919;
  color: white;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
  font-size: 18px;
}

a {
  color: #ff8c00;
  text-decoration: none;
  cursor: pointer;
}
