@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://rsms.me/inter/inter.css");

html body {
  background-color: #191919;
  color: white;
  font-family: "Inter", sans-serif;
  box-sizing: border-box;
}

a {
  color: #ff8c00;
  text-decoration: none;
  cursor: pointer;
}

form {
  background-color: transparent !important;
  border: none !important;
}

code:not(.prism-code) {
  background-color: rgba(255, 140, 0, 0.5);
  padding: 0px 4px;
  border-radius: 5px;
}

pre[class*="language-"] {
  margin: 2rem 0 !important;
}

/* paragraph inside blockquote is the same paragraph
used in the MDX provider */
blockquote > p {
  margin: 0 !important;
}
